<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tr class="cellB"> 
          <td>$style[stdfont]$topic[messages] Beitr&auml;ge - $pages$style[stdfontend]</td>
        </tr>
      </table><br />
    </td>
  </tr>
</table>

$POSTINGROWS<br />

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tr class="cellB"> 
          <td>$style[stdfont]$topic[messages] Beitr&auml;ge - $pages$style[stdfontend]</td>
        </tr>
      </table>
    </td>
  </tr>
</table>