    <td>
        $style[smallfont]N&auml;chster Termin : $style[smallfontend]
    </td>
    <td width="20" height="22">
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        $style[smallfont]Am <strong>$calendar[eventtime]</strong> $style[smallfontend]
    </td>
    <td width="20">
        $style[smallfont]&nbsp;$style[smallfontend]
    </td>
<tr>
    <td>
        $style[smallfont] <strong><u>$calendar[eventsubject]</u></strong><br>
        [ <a href=# onclick="window.open('showevent.php?event=$calendar[eventid]','show_event','width=400,height=500,scrollbars=yes,menubar=no,toolbar=no,statusbar=no')"> Anschauen </a> ]$style[smallfontend]
    </td>
    <td width="20">
        $style[smallfont] &nbsp; $style[smallfontend]
    </td>
