
  <td>
	$style[smallfont]N&auml;chster Termin : $style[smallfontend]
  </TD>
  <TD width="20" height="22">
    &nbsp; 
  </TD>
</TR>
<tr>
  <td>
  $style[smallfont]Am <strong>$calendar[eventtime]</strong> $style[smallfontend]
  </TD>
  <TD width="20">
	$style[smallfont]&nbsp;$style[smallfontend]
  </TD>
<tr>
  <td>
  $style[smallfont] <strong><u>$calendar[eventsubject]</u></strong> <BR>
  [ <A HREF=# onclick="window.open('showevent.php?event=$calendar[eventid]','show_event','width=400,height=500,scrollbars=yes,menubar=no,toolbar=no,statusbar=no')"> Anschauen </A> ]$style[smallfontend]
  </TD>
  <TD width="20">
	$style[smallfont] &nbsp; $style[smallfontend]
  </TD>





