
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tr class="color4">
          <td>$style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>ThWboard
            FAQ » Lesen und Schreiben von Nachrichten</strong></span>$style[smallfontend]</td>
        </tr>
        <tr class="cellB">
          <td>$style[stdfont]<strong>» Lesen und Schreiben von Nachrichten</strong>
            <ul type="circle">
              <li><a href="#Codes">Gibt es spezielle Codes um meine Beitr&auml;ge
                zu formatieren?</a></li>
              <li><a href="#Smilies">Was sind Smilies?</a></li>
              <li><a href="#Beitr&auml;ge">Kann ich meine Beitr&auml;ge editieren?</a></li>
              <li><a href="#Moderator">Was sind Moderatoren?</a></li>
              <li><a href="#Notify">Was ist Email Notify?</a></li>
              <li><a href="#verschieden">Was bedeuten die verschiedenen Abk&uuml;rzungen?</a></li>
            </ul>
            <p>$style[stdfontend]
          </td>
        </tr>
        <tr class="cellA">
          <td>$style[stdfont]<strong>Gibt es spezielle <a name="Codes">Codes</a> um
            meine Beitr&auml;ge zu formatieren?</strong>
            <p>Du kannst in Deinen Beitr&auml;gen ThWboard Code verwenden. Immer
              wenn Du neue Beitr&auml;ge schreibst kannst Du selbst entscheiden
              ob der ThWboard Code f&uuml;r die jeweilige Nachricht genutzt werden
              soll oder nicht. Wie der ThWboard Code genutzt werden kann und welche
              Formatierungsm&ouml;glichkeiten es gibt kannst Du unter <strong>Formatierung</strong>
              in den FAQs erfahren.</p>
            <p>Standardm&auml;&szlig;ig ist der ThWboard Code <i><u>Eingeschaltet</u></i>.</p>
            <p>$style[stdfontend]
          </td>
        </tr>
        <tr class="cellB">
          <td>$style[stdfont]<strong>Was sind <a name="Smilies"> Smilies</a>?</strong>
            <p>Smilies sind kleine Grafiken, die Du in Deine Beitr&auml;ge einf&uuml;gen
              kannst, um beispielsweise Emotionen auszudr&uuml;cken.</p>
            <p>Falls Du vorher schon mal E-Mail oder Chat-Programme benutzt hast,
              wirst Du dies schon kennen. Bestimmte Kombinationen von Buchstaben
              werden in Smilies umgewandelt. Zum Beispiel wird aus :) ein lachendes
              Gesicht.</p>
            <p>Eine Liste der Smilies findest Du unter <strong>Formatierung</strong> in
              den FAQs.</p>
            <p>Wenn Du nicht m&ouml;chtest, dass bestimmte Zeichenfolgen in Smilies
              konvertiert werden, markiere einfach die entsprechende Checkbox
              unterhalb des Textfeldes.</p>
            <p>$style[stdfontend]
          </td>
        </tr>
        <tr class="cellA">
          <td>$style[stdfont]<strong>Kann ich meine <a name="Beitr&auml;ge">Beitr&auml;ge</a>
            editieren?</strong>
            <p>Du kannst Deine Beitr&auml;ge &auml;ndern. W&auml;hle dazu einfach
              Deinen Beitrag und dr&uuml;cke danach auf "Edit". Zur Zeit kannst
              Du die Editierfunktion ca. 30 min nach Erstellung des Beitrages
              nutzen. Sollte die Zeit zu kurz bemessen sein, Hinweis an den Admin!</p>
            <p>Wenn Du einen Beitrag ver&auml;nderst, wird Datum/Uhrzeit der &Auml;nderung
              am Ende Deines Beitrags angezeigt.</p>
            <p>$style[stdfontend]
          </td>
        </tr>
        <tr class="cellB">
          <td>$style[stdfont]<strong>Was sind <a name="Moderator">Moderator</a>en?</strong>
            <p>Moderatoren kontrollieren die verschiedenen Foren, sie k&ouml;nnen
              in ihren Foren Beitr&auml;ge &auml;ndern, l&ouml;schen oder k&uuml;rzen.
              Solltest Du Fragen zu einem bestimmten Forum haben, dann wende Dich
              bitte direkt an den Moderator des Forums.</p>
            <p>$style[stdfontend]
          </td>
        </tr>
        <tr class="cellA">
          <td>$style[stdfont]<strong>Was ist Email <a name="Notify">Notify</a>?</strong>
            <p>Wenn Du ein Thema erstellst oder auf eins antwortest kannst Du
              die Funktion Email Notify aktivieren, indem Du die entsprechende
              Box aktivierst. Daraufhin wirst Du bei jeder Antwort zum dem Thema
              mit einer E-Mail benachrichtigt.</p>
            <p>Wenn Du keine E-Mails mehr erhalten m&ouml;chtest benutzte den
              entsprechenden Link in der E-Mail.</p>
            <p>$style[stdfontend]
          </td>
        </tr>
        <tr class="cellB">
          <td>$style[stdfont]<strong>Was bedeuten die <a name="verschieden">verschieden</a>en
            Abk&uuml;rzungen?</strong>
            <p>Die wichtigsten Abk&uuml;rzungen sind hier aufgelistet. Nat&uuml;rlich
              werden diese nicht nur im Forum benutzt, sondern sind im gesamten
              Internet weit verbreitet:</p>
            <ul type="circle">
              <li>AFAIK = as far as I know = Soweit ich wei&szlig;</li>
              <li>AFAIR = as far as I remember = Soweit ich mich erinnere</li>
              <li>AFK = away from keyboard = Weg vom PC/der Tastatur</li>
              <li>aka = also known as = ebenfalls bekannt als...</li>
              <li>ASAP = as soon as possible = so schnell wie m&ouml;glich</li>
              <li>*bg* = big grin = breites Grinsen</li>
              <li>btw = by the way = &Uuml;brigens..</li>
              <li>cu = see you = Wir sehen uns.</li>
              <li>*eg*/*fg* = evil grin = teuflisches Grinsen/fieses Grinsen</li>
              <li>*g* = grin = grins</li>
              <li>GN8 = Gute Nacht</li>
              <li>HTH = hope this helps = hoffe das hilft</li>
              <li>IK = I know = ich wei&szlig;</li>
              <li>k = okay</li>
              <li>ka = keine Ahnung</li>
              <li>LLAP = Live long and prosper = Lebe lang und in Frieden (in
                Wohlstand)</li>
              <li>IMHO = in my humble opinion = Meiner bescheidenen Meinung nach...</li>
              <li>IMO = in my opinion = meiner Meinung nach</li>
              <li>*lol* = laughing out loud = laut auflachen</li>
              <li>np = no problem = kein Problem</li>
              <li>MTFBWY = May the force be with you = M&ouml;ge die Macht mit
                dir sein</li>
              <li>RL = Real Life = im richtigen Leben</li>
              <li>ROFL = rolling on the floor laughing = sich vor Lachen auf dem
                Boden w&auml;lzen</li>
              <li>SCNR = sorry, could not resist = Tut mir leid, ich konnte nicht
                widerstehen</li>
              <li>WE = weekend = Wochenende</li>
            </ul>
            <p>$style[stdfontend]
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
