<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="1" cellpadding="3">
                <tr class="color4">
                    <td>
                        $style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>ThWboard FAQ</strong></span>$style[smallfontend]
                    </td>
                </tr>
                <tr class="cellb">
                    <td>
                        $style[stdfont] <strong>&raquo;</strong><strong> <a href="_('help.php?page=page1')"> Benutzerfunktionen</a></strong>
                        <ul type="circle">
                            <li>
                                Warum registrieren?
                            </li>
                            <li>
                                Werden Cookies benutzt?
                            </li>
                            <li>
                                Wie kann ich mein Profil &auml;ndern?
                            </li>
                            <li>
                                Wozu ist die Signatur gut?
                            </li>
                            <li>
                                Wie bekomme ich ein Bild unter meinen Benutzernamen?
                            </li>
                            <li>
                                Was sind Rangtitel und Rangzeichen?
                            </li>
                        </ul>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
                <tr class="cella">
                    <td>
                        $style[stdfont]<strong>&raquo;</strong><strong> <a href="_('help.php?page=page2')"> Generelle Board Benutzung</a></strong>
                        <ul type="circle">
                            <li>
                                Kann ich das Board durchsuchen?
                            </li>
                            <li>
                                Kann ich anderen Mitgliedern E-Mails schicken?
                            </li>
                            <li>
                                Wie benutze ich die Mitgliederliste?
                            </li>
                        </ul>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
                <tr class="cellb">
                    <td>
                        $style[stdfont]<strong>&raquo;</strong><strong> <a href="_('help.php?page=page3')">Lesen und Schreiben von Nachrichten</a></strong>
                        <ul type="circle">
                            <li>
                                Gibt es spezielle Codes um meine Beitr&auml;ge zu formatieren?
                            </li>
                            <li>
                                Was sind Smilies?
                            </li>
                            <li>
                                Kann ich meine Beitr&auml;ge editieren?
                            </li>
                            <li>
                                Was sind Moderatoren?
                            </li>
                            <li>
                                Was ist Email Notify?
                            </li>
                            <li>
                                Was bedeuten die verschiedenen Abk&uuml;rzungen?
                            </li>
                        </ul>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
                <tr class="cella">
                    <td>
                        $style[stdfont]<strong>&raquo; <a href="_('help.php?page=format')"> Formatierungsm&ouml;glichkeiten</a></strong>
                        <ul type="circle">
                            <li>
                                ThWboard Code
                            </li>
                            <li>
                                Smilies
                            </li>
                        </ul>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
