
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tr class="color4">
          <td>$style[smallfont]<span style="color:$style[col_he_fo_font]"><strong><a name="code">ThWboard
            FAQ » Formatierungsm&ouml;glichkeiten</a></strong></span>$style[smallfontend]</td>
        </tr>
        <tr class="cellB">
          <td>$style[stdfont] <strong>» Formatierungsm&ouml;glichkeiten</strong>
            <ul type="circle">
              <li><a href="#code">ThWboard Code</a></li>
              <li><a href="#smilies">Smilies</a></li>
              <p>$style[stdfontend]
            </ul>
          </td>
        </tr>
        <tr class="cellA">
          <td> $style[stdfont]<strong><a name="code">ThWboard Code</a></strong>$style[stdfontend]
            <blockquote>
              <Table width="100%">
                <tr>
                  <td>$style[stdfont]<strong>ThWboard-Code</strong>$style[stdfontend] </td>
                  <td>$style[stdfont]<strong>Ergebnis</strong>$style[stdfontend] </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>$style[stdfont]<span style="color: blue">[b]</span>Hallo<span style="color: blue">[/b]</span>$style[stdfontend]
                  </td>
                  <td><strong>$style[stdfont]Hallo</strong> <span style="color: blue">$style[stdfontend]</span>
                  </td>
                </tr>
                <tr>
                  <td>$style[stdfont]<span style="color: blue">[i]</span>Wie Gehts?<span style="color: blue">[/i]</span>$style[stdfontend]
                  </td>
                  <td><i>$style[stdfont]Wie Gehts?</i>$style[stdfontend] </td>
                </tr>
                <tr>
                  <td>$style[stdfont]<span style="color: blue">[u]</span>Ganz gut<span style="color: blue">[/u]</span>$style[stdfontend]
                  </td>
                  <td><u>$style[stdfont]Ganz gut</u>$style[stdfontend] </td>
                </tr>
                <tr>
                  <td>$style[stdfont]<span style="color: blue">[-]</span>Hallo<span style="color: blue">[/-]</span>$style[stdfontend]
                  </td>
                  <td><s>$style[stdfont]Hallo</s>$style[stdfontend] </td>
                </tr>
                <tr>
                  <td>$style[stdfont]<span style="color: blue">[color="</span>#0000FF<span style="color: blue">"]</span>Blau
                    bl&uuml;ht<span style="color: blue">[/color]</span> der Enzian$style[stdfontend]
                  </td>
                  <td>$style[stdfont]<span style="color: blue">Blau bl&uuml;ht</span> der
                    Enzian$style[stdfontend] </td>
                </tr>
                <tr>
                  <td>$style[stdfont]<span style="color: blue">[code]</span>for( i=0 ;
                    i<10 ; i++ );<span style="color: blue">[/code]</span>$style[stdfontend]
                  </td>
                  <td><code>for( i=0 ; i<10 ; i++ )</code> </td>
                </tr>
                <tr>
                  <td>$style[stdfont]<span style="color: blue">[quote]</span>Hier steht
                    Text<span style="color: blue">[/quote]</span>$style[stdfontend]</td>
                  <td>$style[stdfont](Zitiert einen Text)$style[stdfontend]</td>
                </tr>
                <tr>
                  <td>$style[stdfont]<span style="color: blue">[url]</span>www.thwboard.de<span style="color: blue">[/url]</span>$style[stdfontend]
                  </td>
                  <td>$style[stdfont]<a href="http://www.thewall.de" target="_blank">http://www.thwboard.de</a>
                    $style[stdfontend] </td>
                </tr>
                <tr>
                  <td>$style[stdfont]<span style="color: blue">[url="</span>http://www.thwboard.de<span style="color: blue">"]</span>ThWboard-Homepage<span style="color: blue">[/url]</span>$style[stdfontend] </td>
                  <td>$style[stdfont]<a href="http://www.thwboard.de" target="_blank">ThWboard-Homepage</a>
                    $style[stdfontend] </td>
                </tr>
                <tr>
                  <td>$style[stdfont]<span style="color: blue">[mail]</span>user@host<span style="color: blue">[/mail]</span>$style[stdfontend]
                  </td>
                  <td>$style[stdfont]<a href="mailto:user@host">user@host</a>
                    $style[stdfontend] </td>
                </tr>
                <tr>
                  <td>$style[stdfont]<span style="color: blue">[mail=&quot;</span>user@host<span style="color: blue">&quot;]</span>user
                    mailen<span style="color: blue">[/mail]</span>$style[stdfontend] </td>
                  <td>$style[stdfont]<a href="mailto:user@host">user mailen</a>
                    $style[stdfontend] </td>
                </tr>
                <tr>
                  <td>$style[stdfont]<span style="color: blue">[img]</span>http://www.thwboard.de/images/logo.gif<span style="color: blue">[/img]</span>$style[stdfontend]
                  </td>
                  <td>$style[stdfont](Bindet ein Bild ein)$style[stdfontend]</td>
                </tr>
                <tr>
                  <td>$style[stdfont]<span style="color: blue">[php]</span>&lt;?php phpinfo(); ?&gt;<span style="color: blue">[/php]</span>$style[stdfontend]
                  </td>
                  <td>$style[stdfont]<span style="color: #0000BB">&lt;?php&nbsp;phpinfo</span><span style="color: #007700">()</span>&nbsp;<span style="color: blue">?&gt;</span>$style[stdfontend]</td>
                </tr>
              </table>
            </blockquote>
          </td>
        </tr>
        <tr class="cellB">
          <td> $style[stdfont]<strong><a name="smilies">Smilies</a></strong>$style[stdfontend]
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="100" align="center">
                    $style[stdfont]:)$style[stdfontend]
                </td>
                <td><img src="./templates/$style[styletemplate]/images/icon/smile_new.png" border="0"></td>
              </tr>
              <tr>
                <td width="100" align="center">
                    $style[stdfont]:($style[stdfontend]
                </td>
                <td><img src="./templates/$style[styletemplate]/images/icon/frown_new.png" border="0"></td>
              </tr>
              <tr>
                <td width="100" align="center">
                    $style[stdfont]:?$style[stdfontend]
                </td>
                <td><img src="./templates/$style[styletemplate]/images/icon/question_new.png" border="0"></td>
              </tr>
              <tr>
                <td width="100" align="center">
                    $style[stdfont];)$style[stdfontend]
                </td>
                <td><img src="./templates/$style[styletemplate]/images/icon/wink_new.png" border="0"></td>
              </tr>
              <tr>
                <td width="100" align="center">
          $style[stdfont]:|$style[stdfontend]
            </td>
                <td><img src="./templates/$style[styletemplate]/images/icon/strange_new.png" border="0"></td>
              </tr>
              <tr>
                <td width="100" align="center">
                    $style[stdfont]>:($style[stdfontend]
                </td>
                <td><img src="./templates/$style[styletemplate]/images/icon/angry_new.png" border="0"></td>
              </tr>
              <tr>
                <td width="100" align="center">
                    $style[stdfont]:D$style[stdfontend]
                </td>
                <td><img src="./templates/$style[styletemplate]/images/icon/biggrin_new.png" border="0"></td>
              </tr>
              <tr>
                <td width="100" align="center">
                    $style[stdfont]:\ $style[stdfontend]
                </td>
                <td><img src="./templates/$style[styletemplate]/images/icon/prefect_new.png" border="0"></td>
              </tr>
              <tr>
                <td width="100" align="center">
                    $style[stdfont]:rolleyes:$style[stdfontend]
                </td>
                <td><img src="./templates/$style[styletemplate]/images/icon/rolleyes_new.png" border="0"></td>
              </tr>
              <tr>
                <td width="100" align="center">
                    $style[stdfont]:oah:$style[stdfontend]
                </td>
                <td><img src="./templates/$style[styletemplate]/images/icon/oah_new.png" border="0"></td>
              </tr>
              <tr>
                <td width="100" align="center">
                    $style[stdfont]=)$style[stdfontend]
                </td>
                <td><img src="./templates/$style[styletemplate]/images/icon/gumble_new.png" border="0"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
