<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="1" cellpadding="3">
                <tr class="color4">
                    <td>
                        $style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>ThWboard
                        FAQ » Benutzerfunktionen</strong></span>$style[smallfontend]
                    </td>
                </tr>
                <tr class="cellb">
                    <td>
                        $style[stdfont]<strong>» Benutzerfunktionen</strong>
                        <ul type="circle">
                            <li>
                                <a href="#registrieren">Warum registrieren?</a>
                            </li>
                            <li>
                                <a href="#Cookies">Werden Cookies benutzt?</a>
                            </li>
                            <li>
                                <a href="#Profil">Wie kann ich mein Profil &auml;ndern?</a>
                            </li>
                            <li>
                                <a href="#Signatur">Wozu ist die Signatur gut?</a>
                            </li>
                            <li>
                                <a href="#Bild">Wie bekomme ich ein Bild unter meinen Benutzernamen?</a>
                            </li>
                            <li>
                                <a href="#Rangtitel">Was sind Rangtitel und Rangzeichen?</a>
                            </li>
                        </ul>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
                <tr class="cella">
                    <td>
                        $style[stdfont]<strong>Warum <a name="registrieren">registrieren</a>?</strong>
                        <p>
                            Um alle Boardfunktionen nutzen zu k&ouml;nnen, wird der Administrator
                            wahrscheinlich verlangen, dass Du ein registriertes Mitglied bist.
                            Die Registrierung ist kostenlos und erlaubt Dir folgendes:
                        </p>
                        <ul type="circle">
                            <li>
                                Neue Beitr&auml;ge erstellen
                            </li>
                            <li>
                                Auf Beitr&auml;ge anderer antworten
                            </li>
                            <li>
                                Deine Beitr&auml;ge zu editieren
                            </li>
                            <li>
                                E-Mail Benachrichtigung, wenn neue Antworten verfasst wurden
                            </li>
                            <li>
                                Unz&auml;hlige Optionen in deinem Profil einstellen
                            </li>
                        </ul>
                        <p>
                            Um Dich zu registrieren musst Du Dir einen Benutzernamen und ein
                            Kennwort einfallen lassen, sowie eine g&uuml;ltige E-Mail Adresse
                            eingeben. Wenn Du Deine E-Mail angibst, wird Dich das keinem <strong>'Spam'</strong>
                            ausliefern, da Du entscheidest, ob andere Deine E-Mail Adresse sehen
                            k&ouml;nnen oder nicht.
                        </p>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
                <tr class="cellb">
                    <td>
                        $style[stdfont]<strong>Werden <a name="Cookies"> Cookies</a> benutzt?</strong>
                        <p>
                            Das Forum verwendet Cookies zum Speichern von folgenden Informationen:
                            Datum/Zeit Deines letzten Besuchs, Deinen Benutzernamen sowie Dein
                            Kennwort. Diese Cookies werden im Speicher Deines Browsers abgelegt.
                            Die Cookies werden nicht benutzt, um Deine Aktivit&auml;ten aufzusp&uuml;ren
                            oder andere Funktionen auszuf&uuml;hren, sie unterst&uuml;tzen jedoch
                            den einfachen Gebrauch des Forums.
                        </p>
                        <p>
                            Sollte Dein Browser keine Cookies unterst&uuml;tzen oder Du hast
                            diese Funktion abgeschaltet, dann kannst du dich &uuml;ber <i>Sessions</i> einloggen.
                            Es ist dann aber nicht m&ouml;glich, deine Logindaten zu speichern, du musst dich
                            also jedes Mal erneut einloggen.
                        </p>
                        <p>
                            Falls Du dieses Board von einem Internet-Cafe oder einer Bibliothek
                            besuchst, oder Du nicht der einzige Benutzer bist, der den Computer
                            benutzt, empfehlen wir, sich nach jedem Besuch des Forums auszuloggen
                            (abmelden).
                        </p>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
                <tr class="cella">
                    <td>
                        $style[stdfont]<strong>Wie kann ich mein <a name="Profil">Profil</a>
                        editieren?</strong>
                        <p>
                            Ganz oben in der Funktionsleiste unter <strong>Profil</strong>
                        </p>
                        <p>
                            Es liegt in Deiner Verantwortung, Dein Profil aktuell zu halten.
                            Du solltest vor allem sicher gehen, dass Deine E-Mail Adresse aktuell
                            ist. Du kannst alle Felder Deines Profils &auml;ndern, bis auf Deinen
                            Benutzernamen.
                        </p>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
                <tr class="cellb">
                    <td>
                        $style[stdfont]<strong>Wozu ist die <a name="Signatur">Signatur</a> gut?</strong>
                        <p>
                            Du kannst eine Signatur an Deine Beitr&auml;ge anf&uuml;gen. Bist
                            Du registriert, dann kannst Du Deine Standard-Signatur &uuml;ber
                            den Link <strong> Profil</strong> an der Oberseite des Forums bearbeiten.
                        </p>
                        <p>
                            Hast Du eine Signatur gespeichert, wird diese standardm&auml;ssig
                            an jeden Beitrag angef&uuml;gt. M&ouml;chtest Du die Signatur nicht
                            anf&uuml;gen, kannst Du sie unter Profil deaktivieren.
                        </p>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
                <tr class="cella">
                    <td>
                        $style[stdfont]<strong>Wie bekomme ich ein <a name="Bild">Bild</a> unter
                        meinen Benutzernamen?</strong>
                        <p>
                            Benutzerbilder (Avatare) sind kleine pers&ouml;nliche Bilder die
                            Du selbst ausw&auml;hlen kannst. Sie werden unter Deinem Benutzernamen
                            und in allen Beitr&auml;gen die Du erstellst angezeigt. Eingestellt
                            werden Avatare im Profil.
                        </p>
                        <p>
                            Du kannst ein Bild w&auml;hlen das dich am besten beschreibt oder
                            einfach etwas von dem Du denkst das es Dir gef&auml;llt und zu Dir
                            passt.
                        </p>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
                <tr class="cellb">
                    <td>
                        $style[stdfont]<strong>Was sind <a name="Rangtitel">Rangtitel</a> und
                        Rangzeichen?</strong><br />
                        <br />
                        Je nachdem wie viele Beitr&auml;ge Du schon erstellt hast, bekommst
                        Du unter Deinen Usernamen andere Rangtitel &amp; Rangzeichen. Diese
                        sollen nur einen ersten Eindruck liefern, wie viele Beitr&auml;ge
                        Du verfasst hast. Wir m&ouml;chten niemanden animieren, nun lauter
                        Einzeiler zu schreiben, nur um einen h&ouml;heren Rang zu bekommen.
                        Solche User sind nicht sehr willkommen. Die Rangzeichen sollen nur
                        als kleines Gimmik z&auml;hlen. Alle User sind gleich, egal welchen
                        Rang sie haben!<br />
                        <br />
                        Eine Liste aller R&#xE4;nge und Statistiken dazu kannst du <a
                        href="_('rank.php')">hier</a> abrufen.
                        $style[stdfontend]
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
