<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="1" cellpadding="3">
                <tr class="color4">
                    <td>
                        $style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>ThWboard FAQ » Generelle Boardbenutzung</strong></span>$style[smallfontend]
                    </td>
                </tr>
                <tr class="cellB">
                    <td>
                        $style[stdfont]<strong>» Generelle Boardbenutzung</strong>
                        <ul type="circle">
                            <li>
                                <a href="#Board">Kann ich das Board durchsuchen?</a>
                            </li>
                            <li>
                                <a href="#Mitgliedern">Kann ich anderen Mitgliedern E-Mails schicken?</a>
                            </li>
                            <li>
                                <a href="#benutze">Wie benutze ich die Mitgliederliste?</a>
                            </li>
                        </ul>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
                <tr class="cellA">
                    <td>
                        $style[stdfont]<strong>Wie kann ich das <a name="Board">Board</a> durchsuchen?</strong>
                        <p>
                            Du kannst basierend auf Benutzernamen, W&ouml;rtern im Betreff
                            oder der Nachricht, Datum oder nur in einem spezifischen Forum nach
                            Beitr&auml;gen suchen. Die Suchfunktion <i><strong>Suchen</strong></i> findest
                            Du oben in der Funktionsleiste. Du kannst alle Foren durchsuchen,
                            auf die Du Zugriff hast.
                        </p>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
                <tr class="cellB">
                    <td>
                        $style[stdfont]<strong>Kann ich anderen <a name="Mitgliedern">Mitgliedern</a> E-Mails schicken?</strong>
                        <p>
                            Ja! Um einem anderen Mitglied eine E-Mail zu schicken suchst Du
                            das Mitglied entweder auf der <strong>Mitgliederliste</strong>, oder Du klickst
                            auf <strong> E-Mail</strong>,<strong> </strong>unter den Benutzernamen, bei irgendeinem
                            Beitrag dieses Mitglieds.
                        </p>
                        <p>
                            Solltest Du bei einem Mitglied keinen E-Mail Hinweis finden, hat
                            dieses Mitglied angegeben, dass er/sie keine E-Mails von anderen
                            Mitgliedern erhalten m&ouml;chte.
                        </p>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
                <tr class="cellA">
                    <td>
                        $style[stdfont]<strong>Wie <a name="benutze"> benutze</a> ich die Mitgliederliste?</strong>
                        <p>
                            Die Mitgliederliste enth&auml;lt eine Auflistung aller registrierten
                            Mitglieder. Du kannst sie Dir nach verschiedenen Kriterien ordnen
                            lassen.
                        </p>
                        <p>
                            $style[stdfontend]
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
