  <tr height="42"> 
    <td width="1" class="cellB" align="center"><img src="$imagepath"></td>
    <td class="cellA">$style[stdfont]<strong><a href="_('board.php?boardid=$board[boardid]')">$board[boardname]</a></strong><br />
      $style[stdfontend]$style[smallfont]$board[boarddescription]$style[smallfontend]</td>
    <td class="cellB" align="center">$style[stdfont]$board[boardthreads]$style[stdfontend]</td>
    <td class="cellA" align="center">$style[stdfont]$board[boardposts]$style[stdfontend]</td>
    <td class="cellB">$style[smallfont]$board[modified]$style[smallfontend]</td>
  </tr>
