<strong>Forumregeln</strong><br />
1) Links zu illegalen Inhalten (z.B. "Warez") sind nicht erw&uuml;nscht<br />
2) Bitte &uuml;berlegen Sie sich genau, in welches Forum Ihre Frage passt<br />
3) Spam (Mehrfaches untereinanderposten in einem Thread, viele Beitr&auml;ge in kurzer Zeit etc.) wird nicht geduldet<br />
4) P&ouml;beleien, Beschimpfungen oder sonstige Beleidigungen sind zu unterlassen und werden mit einem Forum-Ban bestraft<br />
<br />
<strong>Das ThWboard speichert IP-Addressen zum Zwecke der Bereitstellung des Dienstes gem. &sect; 6 Abs. 1 TDDSG und ebenso
zum Selbstschutzes des Betreibers! Mit Klick auf den "Akzeptieren"-Button erkl&auml;ren Sie sich damit einverstanden.</strong>
<br />
<br />
<div align="center">[ <a href="_('index.php')">Ablehnen</a> ] [ <a href="_('register.php?accept=1')">Akzeptieren</a> ]</div>
