<form name="login" method="post" action="do_login.php">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
    <tr>
      <td>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr class="color4"> 
            <td colspan="2">$style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>Einloggen</strong></span>$style[smallfontend]</td>
          </tr>
          <tr class="cellA"> 
            <td width="20%">$style[stdfont]Benutzername$style[stdfontend]</td>
            <td valign="middle"> 
              <input class="tbinput" type="text" name="login_name">
              $style[smallfont]Ihr Benutzername (<a href="register.php" tabindex="1">Noch nicht registriert?</a>)$style[smallfontend]</td>
          </tr>                                       
          <tr class="cellB"> 
            <td width="20%">$style[stdfont]Passwort$style[stdfontend]</td>
            <td valign="middle"> 
              <input class="tbinput" type="password" name="login_password" tabindex="0">
              $style[smallfont]Geben Sie hier bitte Ihr Passwort an (<a href="send_password.php" tabindex="2">Passwort 
              vergessen?</a>)$style[smallfontend]</td>
          </tr>
          <tr class="cellA"> 
            <td width="20%">$style[stdfont]Cookies$style[stdfontend]</td>
            <td valign="middle"> 
              <input class="tbinput" type="checkbox" name="login_cookie" value="1" tabindex="-1" checked>
              $style[smallfont]Cookies benutzen?$style[smallfontend]</td>
          </tr>
          <tr class="cellB">
            <td colspan="2">$style[stdfont]<strong>Das Forum speichert Ihre IP-Addresse zum Zwecke der Bereitstellung des Dienstes (&sect; 6 Abs. 1 TDDSG)
              und zum Selbstschutz des Betreibers.</strong>$style[stdfontend]</td>
          </tr>
          <tr class="color4"> 
            <td colspan="2" align="center"> 
		<input type="hidden" name="source" value="$source">
                <input class="tbbutton" type="submit" name="Submit" value="Einloggen" tabindex="-2">   
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
<script type="text/javascript">
<!--
if (document.login) document.login.login_name.focus();
// -->
</script>
