<tr bgcolor="$thisrowbg">
    <td width="23" valign="middle" align="center">
        <input type="checkbox" name="delthreads[]" value="$thread[threadid]" id="delthreads">
    </td>
    <td width="50%">
        <nobr>$style[stdfont]<a href="_('showtopic.php?threadid=$thread[threadid]')">$thread[threadtopic]</a>$style[stdfontend]
    </td>
    <td width="48" align="center">
        <nobr>$style[stdfont]$thread[threadreplies]$style[stdfontend]
    </td>
    <td width="48" align="center">
        <nobr>$style[stdfont]$thread[threadviews]$style[stdfontend]
    </td>
    <td>
        <nobr>$style[stdfont]$thread[threadauthor]$style[stdfontend]
    </td>
    <td>
        <nobr>$style[smallfont]$thread[threadtime]<br />
        von $thread[threadlastreplyby]$style[smallfontend]
    </td>
</tr>
