        <tr bgcolor="$user[bgcolor]"> 
          <td>$style[stdfont]<a href="_('v_profile.php?userid=$user[userid]')">$user[username]</a>$style[stdfontend]</td>
          <td>$style[smallfont]$user[useremail]$style[smallfontend]</td>
          <td>$style[smallfont]$user[usericq]$style[smallfontend]</td>
          <td>$style[smallfont]$user[userhomepage]$style[smallfontend]</td>
          <td>$style[smallfont]$user[userlocation]$style[smallfontend]</td>
          <td align="center">$style[smallfont]$user[userposts]$style[smallfontend]</td>
          <td>$style[smallfont]$user[userjoin]$style[smallfontend]</td>
          <td>$style[smallfont]$user[userlastpost]$style[smallfontend]</td>
        </tr>
