<form name="mergethreadform" method="post" action="_('threadops.php')">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="1" cellpadding="3">
                    <tr class="color4">
                        <td>
                            $style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>Threads Verschmelzen</strong></span>$style[smallfontend]
                        </td>
                    </tr>
                    <tr class="cellA">
                        <td align="left">
                            $style[stdfont]H&auml;ngt die Beitr&auml;ge dieses Threads an den Zielthread an. <strong>Achtung: Dieser Vorgang ist irreversibel.</strong><br />
                            <br />
                            Zielthread-ID: $style[stdfontend]
                            <input class="tbinput" type="text" name="target[threadid]" value="">
                        </td>
                    </tr>
                    <tr class="cellB">
                    <tr class="color4">
                        <td align="center">
                            <input class="tbbutton" type="submit" name="Submit" value="Threads verschmelzen">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <input type="hidden" name="action" value="do_merge">
    <input type="hidden" name="thread[threadid]" value="$thread[threadid]">
</form>
