<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tr class="color4">
          <td>$style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>$title</strong></span>$style[smallfontend]</td>
        </tr>
        <tr class="cellB">
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="22">
              <tr>
                <td>$style[stdfont]$msg$style[stdfontend]</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="color4">
          <td align="center">
            $style[smallfont]<strong><span style="color:$style[col_he_fo_font]">$messageoptions</span></strong>$style[smallfontend]
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
