<form method="post" action="_('pm.php')" name="pmform">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="1" cellpadding="3">
                    <tr class="color4">
                        <td colspan="2">
                            <span style="color:$style[col_he_fo_font]">$style[smallfont]<strong>Neue Nachricht</strong>$style[smallfontend]</span>
                        </td>
                    </tr>
                    <tr class="cellb">
                        <td>
                            $style[stdfont]Empf&auml;nger$style[stdfontend]
                        </td>
                        <td>
                            <input type="text" class="tbinput" name="pm[username]" size="16" value="$recipient">
                        </td>
                    </tr>
                    <tr class="cella">
                        <td>
                            $style[stdfont]Versandart$style[stdfontend]
                        </td>
                        <td>
                            <input type="radio" name="pm[pmmethod]" value="pm" checked>
                            $style[stdfont]Private Message $print_emailradio $style[stdfontend]
                        </td>
                    </tr>
                    <tr class="cellb">
                        <td valign="top">
                            $style[stdfont]Titel$style[stdfontend]
                        </td>
                        <td>
                            <input type="text" size="50" class="tbinput" name="pm[pmtopic]" value="$pm[pmtopic]">
                            <br>
                            $style[smallfont](mindestens 3 Zeichen)$style[smallfontend]
                        </td>
                    </tr>
                    <tr class="cella">
                        <td valign="top">
                            $style[stdfont]Text$style[stdfontend]<br>
                            <br>
                            $style[smallfont]<a href="_('help.php?page=format')" target="_blank">Formatierungs-<br>
                            m&ouml;glichkeiten</a>$style[smallfontend]
                        </td>
                        <td>
                            <textarea class="tbtextarea" rows="15" cols="75" name="pm[pmtext]">$pm[pmtext]</textarea>
                            <br>
                            $style[smallfont](mindestens 3; maximal $config[pm_maxlength] Zeichen)$style[smallfontend]
                        </td>
                    </tr>
                    <tr class="cellb">
                        <td>
                            $style[stdfont]Optionen$style[stdfontend]
                        </td>
                        <td>
                            $style[smallfont]<input type="checkbox" name="pm[pmsaveinoutbox]" value="1">
                            Eine Kopie der Nachricht im Ordner "Postausgang" speichern$style[smallfontend]
                        </td>
                    </tr>
                    <tr class="color4">
                        <td colspan="2" align="center" height=18>
                            <input class="tbbutton" type="submit" name="Submit" value="Private Message Senden">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <input type="hidden" name="send" value="1">
    <input type="hidden" name="action" value="new">
</form>
