<!--
  <tr bgcolor="$bgcolor">
    <td>
$style[stdfont]$style[stdfont]<strong>$news[newstopic]</strong><blockquote>$news[newstext]</blockquote>$news[newstime]$style[stdfontend]
    </td>
  </tr>
-->
  <tr class="cellB">
    <td valign="top" rowspan="2" width="15%">$style[smallfont]$news[newstime]<br />
      Forumadministration$style[smallfontend]</td>
    <td>$style[stdfont]Betrifft: <strong>$news[newstopic]</strong>$style[stdfontend]</td>
  </tr>
  <tr class="cellA">
    <td>$style[stdfont]$news[newstext]$style[stdfontend]</td>
  </tr>

