<form name="loginform" method="post" action="_('do_login.php')">
  Einloggen mit Benutzername/Passwort:
  <input class="tbinput" type="text" name="login_name" size="8">
  <input class="tbinput" type="password" name="login_password" size="8">
  <input class="tbinput" type="checkbox" name="login_cookie" value="1">
  <input type="hidden" name="source" value="$source">
  <input class="tbbutton" type="submit" name="einloggen" value="Einloggen">
</form>
<script type="text/javascript">
<!--
if (document.loginform) document.loginform.login_name.focus();
// -->
</script>
