<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tr class="color4"> 
          <td>$style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>Kein Zugriff</strong></span>$style[smallfontend]</td>
        </tr>
        <tr class="cellB"> 
          <td> 
            <table width="100%" border="0" cellspacing="0" cellpadding="22">
              <tr>
                <td>$style[stdfont]Kein Zugriff<br />
                  <br />
                  Sie haben leider keine Berechtigung diese Seite einzusehen. 
                  M&ouml;glicherweise m&uuml;ssen Sie registriert sein, um zu 
                  dieser Seite zu gelangen. Bitte wenden Sie sich an den/einen 
                  <a href="_('team.php')">Administrator</a>, falls Sie einen Konfigurationsfehler 
                  vermuten.$t_loginform$style[stdfontend]</td>
              </tr>
            </table>
            
          </td>
        </tr>
        <tr class="color4">
          <td align="center">
            $style[smallfont]<strong><span style="color:$style[col_he_fo_font]">[ <a class="hefo" href="JavaScript:history.back(0)">zur&uuml;ck</a> ]</span></strong>$style[smallfontend]
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
