<table class="color4" width=300 cellspacing=1 cellpadding=0>
    <tr>
        <td class="color4" height=18>
            <span style="color:$style[col_he_fo_font]">$style[smallfont]<strong>Diskquota :</strong>$style[smallfontend]
        </td>
    </tr>
    <tr>
        <td class="cella">
            <table bgcolor="$style[colorbg]" width=100% align=left cellspacing=1 cellpadding=0>
                <tr>
                    <td class="cella" colspan=2>
                        <table border=0 width=300 cellspacing=0 cellpadding=0>
                            <tr>
                                <td colspan=1>
                                    $pic[imageline]
                                </td>
                            </tr>
                            <tr>
                                <td background="images/legende.jpg">
                                    <table width=100% border=0 cellspacing=0 cellpadding=0>
                                        <tr>
                                            <td align=center>
                                                $style[smallfont]<strong>25%</strong>$style[smallfontend]
                                            </td>
                                            <td align=center>
                                                $style[smallfont]<strong>50%</strong>$style[smallfontend]
                                            </td>
                                            <td align=center>
                                                $style[smallfont]<strong>75%</strong>$style[smallfontend]
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height=30>
                                    $style[smallfont]<strong>$pic[start_sentence]</strong>$style[smallfontend]
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
