<tr>
    <TD bgcolor="$cellbg" width="2%">
        <input type=checkbox name="deletepms[]" value="$pm[pmid]" id="deletepms">
    </TD>
    <TD bgcolor="$cellbg" width="41%">
        &nbsp;$style[smallfont]<a href="_('pm.php?action=show&pm[pmid]=$pm[pmid]')">$pm[pmtopic] <strong>$pm[pmflags]</strong></A>$style[smallfontend]
    </TD>
    <TD bgcolor="$cellbg" width="21%" align=center>
        $style[smallfont]$pm[username]$style[smallfontend]
    </TD>
    <TD bgcolor="$cellbg" width="21%" align=left>
        $style[smallfont]&nbsp;&nbsp;$pm[pmtime]$style[smallfontend]
    </TD>
    <TD bgcolor="$cellbg" width="15%" align=center>
        <A HREF="_('pm.php?action=new&replyto=$pm[pmid]')"><img src=templates/$style[styletemplate]/images/answer.png alt="Auf diese Nachricht antworten" title="Auf diese Nachricht antworten" border=0></a>
        <A HREF="_('pm.php?action=new&forward=$pm[pmid]')"><img src=templates/$style[styletemplate]/images/forward.png alt="Nachricht weiterleiten" title="Nachricht weiterleiten" border=0></a>
    </TD>
</TR>
