<form method="post" action="_('do_editprofile.php')" name="profileform">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
    <tr>
      <td>
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr class="color4"> 
            <td colspan="2">$style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>Profil &Auml;ndern</strong></span>$style[smallfontend]</td>
          </tr>
          <tr class="cellA"> 
            <td width="20%">$style[stdfont]Altes Passwort$style[stdfontend]</td>
            <td> 
              <input class="tbinput" type="password" name="user[userpassword]">
        $style[smallfont]Bitte geben Sie ihr derzeitiges Passwort an! (<a href="_('send_password.php')">Passwort 
        vergessen?</a>) $style[smallfontend]</td>
          </tr>
          <tr class="color4"> 
            <td colspan="2">$style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>Einstellungen</strong></span>$style[smallfontend]</td>
          </tr>
          <tr class="cellB"> 
            <td width="20%">$style[stdfont]Neues Passwort$style[stdfontend]</td>
            <td> 
              <input class="tbinput" type="password" name="user[usernewpassword]">
        $style[smallfont]<strong>Nur</strong> angeben wenn das Passwort ge&auml;ndert werden 
        soll!$style[smallfontend]</td>
          </tr>
          <tr class="cellA"> 
            <td width="20%">$style[stdfont]Neues Passwort wiederholen$style[stdfontend]</td>
            <td> 
              <input class="tbinput" type="password" name="user[usernewpassword2]">
        $style[smallfont]<strong>Nur</strong> angeben wenn das Passwort ge&auml;ndert werden 
        soll!$style[smallfontend]</td>
          </tr>
          <tr class="cellB"> 
            <td width="20%">$style[stdfont]Email Adresse$style[stdfontend]</td>
            <td> 
              $style[stdfont]$user[useremail] $style[stdfontend]$style[smallfont][ <a href="_('changeemail.php')">&auml;ndern</a> ]$style[smallfontend]</td>
          </tr>
          <tr class="cellA"> 
            <td width="20%">$style[stdfont]Homepage$style[stdfontend]</td>
            <td> 
              <input class="tbinput" type="text" name="user[userhomepage]" value="$user[userhomepage]">
        $style[smallfont]Hier k&ouml;nnen Sie Ihre Homepage angeben.$style[smallfontend]</td>
          </tr>
          <tr class="cellB"> 
            <td width="20%">$style[stdfont]Wohnort$style[stdfontend]</td>
            <td> 
              <input class="tbinput" type="text" name="user[userlocation]" value="$user[userlocation]">
        $style[smallfont]Hier k&ouml;nnen Sie Ihren Wohnort angeben.$style[smallfontend]</td>
          </tr>
          <tr class="cellA"> 
            <td width="20%">$style[stdfont]ICQ UIN$style[stdfontend]</td>
            <td> 
              <input class="tbinput" type="text" name="user[usericq]" value="$user[usericq]">
        $style[smallfont]Hier k&ouml;nnen Sie Ihre ICQ-Nummer angeben (falls vorhanden)$style[smallfontend]</td>
          </tr>
		  <tr class="cellB"> 
            <td width="20%">$style[stdfont] AIM Name $style[stdfontend]</td>
            <td> 
              <input class="tbinput" type="text" name="user[useraim]" value="$user[useraim]">
        $style[smallfont]Hier k&ouml;nnen Sie Ihren AIM-Nicknamen angeben (falls vorhanden)$style[smallfontend]</td>
          </tr>
		  <tr class="cellA"> 
            <td width="20%">$style[stdfont]MSN Name$style[stdfontend]</td>
            <td> 
              <input class="tbinput" type="text" name="user[usermsn]" value="$user[usermsn]">
        $style[smallfont]Hier k&ouml;nnen Sie Ihren MSN Nicknamen angeben (falls vorhanden)$style[smallfontend]</td>
          </tr>
          <tr class="cellB"> 
            <td width="20%">$style[stdfont]Geburtstag$style[stdfontend]</td>
            <td> 
              $bdayform
        $style[smallfont]Hier k&ouml;nnen Sie Ihren Geburtstag angeben.$style[smallfontend]</td>
          </tr>
          <tr class="cellA"> 
            <td width="20%">$style[stdfont]Beruf$style[stdfontend]</td>
            <td> 
              <input class="tbinput" type="text" name="user[useroccupation]" value="$user[useroccupation]">
        $style[smallfont]Hier k&ouml;nnen Sie Ihren Beruf angeben$style[smallfontend]</td>
          </tr>
          <tr class="cellB"> 
            <td width="20%">$style[stdfont]Interessen$style[stdfontend]</td>
            <td> 
              <textarea class="tbtextarea" name="user[userinterests]" cols="40" rows="7">$user[userinterests]</textarea>
        $style[smallfont]$style[smallfontend]</td>
          </tr>
          <tr class="cellA"> 
            <td width="20%">$style[stdfont]Signatur$style[stdfontend]</td>
            <td> 
              <textarea class="tbtextarea" name="user[usersignature]" rows="7" cols="40">$user[usersignature]</textarea>
        $style[smallfont]<br />Eine Signatur wird unter jedem von Ihnen erstellten Beitrag 
        angef&uuml;gt.<br />
        Maximal <strong>$config[sig_maxlines]</strong> Zeilen, jedoch nicht mehr als <strong>$config[sig_maxlen]</strong> Zeichen.
        ThWboard-Code-Tags werden nicht ber&uuml;cksichtigt.$style[smallfontend]</td>
          </tr>
          <tr class="cellB"> 
            <td width="20%">$style[stdfont]Style$style[stdfontend]</td>
            <td>
              <select class="tbselect" name="user[styleid]">
                <option value="0">Boardstandard verwenden</option>
                $styleoptions
              </select>
            </td>
          </tr>
          <tr class="cellA"> 
            <td width="20%">$style[stdfont]Signaturen ausblenden?$style[stdfontend]</td>
            <td> 
        $style[stdfont]
              <input type="radio" name="user[userhidesig]" value="1"$hidesigyes>
        Ja 
              <input type="radio" name="user[userhidesig]" value="0"$hidesigno>
        Nein$style[stdfontend]</td>
          </tr>
          <tr class="cellB"> 
            <td width="20%">$style[stdfont]Email Adresse verstecken?$style[stdfontend]</td>
            <td> 
        $style[stdfont]
              <input type="radio" name="user[userhideemail]" value="1"$hideemailyes>
        Ja 
              <input type="radio" name="user[userhideemail]" value="0"$hideemailno>
        Nein$style[stdfontend]</td>
          </tr>
          <tr class="cellA"> 
            <td width="20%">$style[stdfont]Unsichtbar?$style[stdfontend]</td>
            <td> 
        $style[stdfont]
              <input type="radio" name="user[userinvisible]" value="1"$invisibleyes>
        Ja 
              <input type="radio" name="user[userinvisible]" value="0"$invisibleno>
        Nein$style[stdfontend]$style[smallfont]&nbsp;&nbsp;&nbsp;(Damit werden Sie nicht in der 'Useronline'-Liste aufgef&uuml;hrt)$style[smallfontend]</td>
          </tr>
          <tr class="cellB"> 
            <td width="20%">$style[stdfont]Kein Nachrichtenhinweis?$style[stdfontend]</td>
            <td> 
        $style[stdfont]
              <input type="radio" name="user[usernoding]" value="1"$nodingyes>
        Ja 
              <input type="radio" name="user[usernoding]" value="0"$nodingno>
        Nein$style[stdfontend]$style[smallfont]&nbsp;&nbsp;&nbsp;(Deaktiviert die Message Box wenn Sie eine Neue Privatnachricht haben)$style[smallfontend]</td>
          </tr>
		  $AVATRAROW 
          <tr class="color4"> 
            <td colspan="2" align="center"> 
                <input type="submit" class="tbbutton" name="Submit" value="Profil &auml;ndern">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
