<tr>
    <td class="cellA">
        $style[smallfont]$rank[ranktitle]$style[smallfontend]
    </td>
    <td class="cellB">
        $rank[rankimage]
    </td>
    <td class="cellA">
        $style[smallfont]$rank[rankposts]$style[smallfontend]
    </td>
    <td class="cellB" valign="middle">
        $style[smallfont]
        <table width="120" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="color4" width="$width">
                    <img src="templates/$style[styletemplate]/images/space.png" width="$width" height="8" border="0">
                </td>
                <td class="cellA">
                    <img src="templates/$style[styletemplate]/images/space.png" width="$invwidth" height="8" border="0">
                </td>
            </tr>
        </table>
        $rankusers Benutzer ($prozent%)$style[smallfontend]
    </td>
    <td class="cellA">
        $style[smallfont]<a target="_blank" href="_('v_profile.php?user[userid]=$user[userid]')">$user[username]</a>$style[smallfontend]
    </td>
</tr>
