        <tr class="cellA">
          <td width="20%">$style[stdfont]Passwort$style[stdfontend]</td>
          <td>
            <input class="tbinput" type="password" name="register[userpassword]">
            $style[smallfont] Geben Sie hier Ihr gew&uuml;nschtes Passwort an.$style[smallfontend]</td>
        <tr class="cellB">
          <td width="20%">$style[stdfont]Passwort$style[stdfontend]$style[smallfont] (Wiederholen)$style[smallfontend]</td>
          <td>
            <input class="tbinput" type="password" name="register[userpassword2]"></td>
