<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tr class="color4">
          <td colspan="4"><strong>$style[smallfont]<span style="color:$style[col_he_fo_font]">Suchergebnisse</span>$style[smallfontend]</strong></td>
        </tr>
        <tr class="cellB">
          <td colspan="4">$style[stdfont]<strong>$resultcount</strong> Treffer - Seiten: $pagesstring$style[stdfontend]</td>
        </tr>
        <tr class="cellA">
          <td><strong>$style[smallfont]Thema$style[smallfontend]</strong></td>
          <td align="center"><strong>$style[smallfont]Antworten$style[smallfontend]</strong></td>
          <td><strong>$style[smallfont]Ersteller$style[smallfontend]</strong></td>
          <td><strong>$style[smallfont]Letzter Beitrag$style[smallfontend]</strong></td>
        </tr>
$RESULT_ROWS
        <tr class="cellB">
          <td colspan="4">$style[stdfont]<strong>$resultcount</strong> Treffer - Seiten: $pagesstring$style[stdfontend]</td>
        </tr>
        <tr class="color4">
          <td colspan="4" align="center">
            $style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>[ <a class="hefo" href="_('search.php')">Neue Suche</a> ]</strong></span>$style[smallfontend]
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
