<tr bgcolor="$rowbgcolor">
    <td>
        $style[stdfont]<a href="_('showtopic.php?threadid=$search[threadid]$highlight')">$search[threadtopic]</a>$style[stdfontend]<br />
        $style[smallfont]$search[threadpath]$style[smallfontend]
    </td>
    <td align="center">
        $style[stdfont]$search[threadreplies]$style[stdfontend]
    </td>
    <td>
        $style[stdfont]$search[threadauthor]$style[stdfontend]
    </td>
    <td>
        $style[smallfont]$search[threadtime]<br />
        von $search[threadlastreplyby]$style[smallfontend]
    </td>
</tr>
