<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>$calendar[eventtime] - $calendar[eventsubject]</title>
    <link rel="stylesheet" type="text/css" href="templates/css/$style[styleid].css">
</head>
<!-- <body bgcolor="$style[color4]" text="$style[color1]" leftMargin="0" topMargin="0" marginheight="0" marginwidth="0"> -->
<body>
<table width="100%">
  <TR>
    <TD bgcolor="$style[color4]" height="30">
    <font face="Tahoma, Helvetica" color="$style[col_he_fo_font]" size="2"><B>$calendar[eventtime] &nbsp;&nbsp;&nbsp; $calendar[eventsubject]</B></font>
    </TD>
  </TR>
  <TR>
    <TD bgcolor="$style[colorbg]" height="430" valign=top>
    <strong><BR>$style[stdfont] $calendar[eventsubject] $style[stdfontend]</strong><BR><BR>
    $style[stdfont]$calendar[eventtext]$style[stdfontend]<br><br>
    $calendar[user]
    </TD>
  </TR>
  <TR>
    <TD bgcolor="$style[color4]" height="30" align="center">
    <font face="Tahoma, Helvetica" color="$style[col_he_fo_font]" size="2"><A HREF="javascript:void(0)" onclick="window.close()" style="color:#FFFFFF">[ Fenster schliessen ]</A></B></font>
    </TD>
  </TR>
</TABLE>


</body>
</html>
