<div align="center">
    <table width="80%" border="0" cellspacing="0" cellpadding="0" class="border-col">
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="1" cellpadding="3">
                    <tr class="color4">
                        <td>
                            $style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>Pers&ouml;nliche Statistik</strong></span>$style[smallfontend]
                        </td>
                    </tr>
                    <tr>
                        <td class="cella" width="100%"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <table>
                                <tr>
                                    <td>
                                        $style[stdfont]<font color="$style[color1]"><nobr>Benutzer:&nbsp;</nobr></span>$style[stdfontend]
                                    </td>
                                    <td width="100%">
                                        $style[smallfont]<font color="$style[color1]">$g_user[username]</span>$style[smallfontend]
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        $style[stdfont]<font color="$style[color1]"><nobr>Anzahl Beitr&auml;ge:&nbsp;</nobr></span>$style[stdfontend]
                                    </td>
                                    <td>
                                        $style[smallfont]<font color="$style[color1]">$a_stats[userposts]</span>$style[smallfontend]
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <table width="80%" border="0" cellspacing="0" cellpadding="0" class="border-col">
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="1" cellpadding="3">
                    <tr class="color4">
                        <td>
                            $style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>Allgemeine Statistik</strong></span>$style[smallfontend]
                        </td>
                    </tr>
                    <tr>
                        <td class="cella" width="100%" colspan="3" align="center">
                            <table width="100%" border="0" cellpadding="2" cellspacing="0" class="border-col">
                                <tr class="cella">
                                    <td>
                                        $style[stdfont]<font color="$style[color1]">Das Forum l&auml;uft seit:</span>$style[stdfontend]
                                    </td>
                                    <td align="right">
                                        $style[smallfont]<font color="$style[color1]">$a_stats[firstactivate]</span>$style[smallfontend]
                                    </td>
                                </tr>
                                <tr class="cellb">
                                    <td>
                                        $style[stdfont]<font color="$style[color1]">Mitglieder insgesamt:</span>$style[stdfontend]
                                    </td>
                                    <td align="right">
                                        $style[smallfont]<font color="$style[color1]">$a_stats[usercount]</span>$style[smallfontend]
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cella">
                                        $style[stdfont]<font color="$style[color1]">Aktive Mitglieder $style[smallfont](im letzten Monat)$style[smallfontend]:</span>$style[stdfontend]
                                    </td>
                                    <td class="cella" align="right">
                                        $style[smallfont]<font color="$style[color1]">$a_stats[activeusers]</span>$style[smallfontend]
                                    </td>
                                <tr class="cellb">
                                    <td>
                                        $style[stdfont]<font color="$style[color1]">Beitr&auml;ge insgesamt$a_stats[admin_beitrag_text]:</span>$style[stdfontend]
                                    </td>
                                    <td align="right">
                                        $style[smallfont]<font color="$style[color1]">$a_stats[numposts]</span>$style[smallfontend]
                                    </td>
                                </tr>
                                <tr class="cella">
                                    <td>
                                        $style[stdfont]<font color="$style[color1]">Themen insgesamt$a_stats[admin_themen_text]:</span>$style[stdfontend]
                                    </td>
                                    <td align="right">
                                        $style[smallfont]<font color="$style[color1]">$a_stats[numthreads]</span>$style[smallfontend]
                                    </td>
                                </tr>
                                <tr class="cellb">
                                    <td>
                                        $style[stdfont]<font color="$style[color1]">Views insgesamt$a_stats[admin_views_text]:</span>$style[stdfontend]
                                    </td>
                                    <td align="right">
                                        $style[smallfont]<font color="$style[color1]">$a_stats[numviews]</span>$style[smallfontend]
                                    </td>
                                </tr>
                                <tr class="cella">
                                    <td>
                                        $style[stdfont]<font color="$style[color1]">Anzahl Kategorien$a_stats[admin_kategorien_text]:</span>$style[stdfontend]
                                    </td>
                                    <td align="right">
                                        $style[smallfont]<font color="$style[color1]">$a_stats[numkateg]</span>$style[smallfontend]
                                    </td>
                                </tr>
                                <tr class="cellb">
                                    <td>
                                        $style[stdfont]<font color="$style[color1]">Anzahl Boards$a_stats[admin_board_text]:</span>$style[stdfontend]
                                    </td>
                                    <td align="right">
                                        $style[smallfont]<font color="$style[color1]">$a_stats[numboards]</span>$style[smallfontend]
                                    </td>
                                </tr>
                                <tr class="cella">
                                    <td width="40%">
                                        $style[stdfont]<font color="$style[color1]">Administratoren:</span>$style[stdfontend]
                                    </td>
                                    <td align="right">
                                        $style[smallfont]<font color="$style[color1]">$a_stats[admins]</span>$style[smallfontend]
                                    </td>
                                </tr>
                                <tr class="cellb">
                                    <td>
                                        $style[stdfont]<font color="$style[color1]">Master-Administratoren:</span>$style[stdfontend]
                                    </td>
                                    <td align="right" width="20%">
                                        $style[smallfont]<font color="$style[color1]">$a_stats[uradmins]</span>$style[smallfontend]
                                    </td>
                                </tr>
                                <tr class="cella">
                                    <td>
                                        $style[stdfont]<font color="$style[color1]">Die 5 neuesten Mitglieder:</span>$style[stdfontend]
                                    </td>
                                    <td align="right" width="20%">
                                        $style[smallfont]<font color="$style[color1]">$a_stats[newmember]</span>$style[smallfontend]
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
