<table width="100%" border="0" cellpadding="2" cellspacing="0" bgcolor="$style[border_col]">
    <tr bgcolor="$style[color4]">
        <td width="1%" colspan="2">
            $style[stdfont]<font color="$style[color1]">$data[title]</font>$style[stdfontend]
        </td>
        <td align="right" width="5%">
        </td>
    </tr>
    <tr bgcolor="$style[CellA]">
        <td width="1%">
            $style[stdfont]<font color="$style[color1]">1.</font>$style[stdfontend]
        </td>
        <td>
            $style[smallfont]<font color="$style[color1]">$name[0]</font>$style[smallfontend]
        </td>
        <td align="right" width="5%">
            $style[smallfont]<font color="$style[color1]">$value[0]</font>$style[smallfontend]
        </td>
    </tr>
    <tr bgcolor="$style[CellB]">
        <td width="1%">
            $style[stdfont]<font color="$style[color1]">2.</font>$style[stdfontend]
        </td>
        <td>
            $style[smallfont]<font color="$style[color1]">$name[1]</font>$style[smallfontend]
        </td>
        <td align="right" width="5%">
            $style[smallfont]<font color="$style[color1]">$value[1]</font>$style[smallfontend]
        </td>
    </tr>
    <tr bgcolor="$style[CellA]">
        <td width="1%">
            $style[stdfont]<font color="$style[color1]">3.</font>$style[stdfontend]
        </td>
        <td>
            $style[smallfont]<font color="$style[color1]">$name[2]</font>$style[smallfontend]
        </td>
        <td align="right" width="5%">
            $style[smallfont]<font color="$style[color1]">$value[2]</font>$style[smallfontend]
        </td>
    </tr>
    <tr bgcolor="$style[CellB]">
        <td width="1%">
            $style[stdfont]<font color="$style[color1]">4.</font>$style[stdfontend]
        </td>
        <td>
            $style[smallfont]<font color="$style[color1]">$name[3]</font>$style[smallfontend]
        </td>
        <td align="right" width="5%">
            $style[smallfont]<font color="$style[color1]">$value[3]</font>$style[smallfontend]
        </td>
    </tr>
    <tr bgcolor="$style[CellA]">
        <td width="1%">
            $style[stdfont]<font color="$style[color1]">5.</font>$style[stdfontend]
        </td>
        <td>
            $style[smallfont]<font color="$style[color1]">$name[4]</font>$style[smallfontend]
        </td>
        <td align="right" width="5%">
            $style[smallfont]<font color="$style[color1]">$value[4]</font>$style[smallfontend]
        </td>
    </tr>
    <tr bgcolor="$style[CellB]">
        <td width="1%">
            $style[stdfont]<font color="$style[color1]">6.</font>$style[stdfontend]
        </td>
        <td>
            $style[smallfont]<font color="$style[color1]">$name[5]</font>$style[smallfontend]
        </td>
        <td align="right" width="5%">
            $style[smallfont]<font color="$style[color1]">$value[5]</font>$style[smallfontend]
        </td>
    </tr>
    <tr bgcolor="$style[CellA]">
        <td width="1%">
            $style[stdfont]<font color="$style[color1]">7.</font>$style[stdfontend]
        </td>
        <td>
            $style[smallfont]<font color="$style[color1]">$name[6]</font>$style[smallfontend]
        </td>
        <td align="right" width="5%">
            $style[smallfont]<font color="$style[color1]">$value[6]</font>$style[smallfontend]
        </td>
    </tr>
    <tr bgcolor="$style[CellB]">
        <td width="1%">
            $style[stdfont]<font color="$style[color1]">8.</font>$style[stdfontend]
        </td>
        <td>
            $style[smallfont]<font color="$style[color1]">$name[7]</font>$style[smallfontend]
        </td>
        <td align="right" width="5%">
            $style[smallfont]<font color="$style[color1]">$value[7]</font>$style[smallfontend]
        </td>
    </tr>
    <tr bgcolor="$style[CellA]">
        <td width="1%">
            $style[stdfont]<font color="$style[color1]">9.</font>$style[stdfontend]
        </td>
        <td>
            $style[smallfont]<font color="$style[color1]">$name[8]</font>$style[smallfontend]
        </td>
        <td align="right" width="5%">
            $style[smallfont]<font color="$style[color1]">$value[8]</font>$style[smallfontend]
        </td>
    </tr>
    <tr bgcolor="$style[CellB]">
        <td width="1%">
            $style[stdfont]<font color="$style[color1]">10.</font>$style[stdfontend]
        </td>
        <td>
            $style[smallfont]<font color="$style[color1]">$name[9]</font>$style[smallfontend]
        </td>
        <td align="right" width="5%">
            $style[smallfont]<font color="$style[color1]">$value[9]</font>$style[smallfontend]
        </td>
    </tr>
</table>
