<tr>
    <td bgcolor="$style[$dc]">
        $style[smallfont]<font color="$style[color1]">$data[month]</font>$style[smallfontend]
    </td>
    <td bgcolor="$style[$dc]" align="right">
        $style[smallfont]<font color="$style[color1]">$data[auser]</font>$style[smallfontend]
    </td>
    <td bgcolor="$style[$dc]" align="right">
        $style[smallfont]<font color="$style[color1]">$data[nuser]</font>$style[smallfontend]
    </td>
    <td bgcolor="$style[$dc]" align="right">
        $style[smallfont]<font color="$style[color1]">$data[nthread]</font>$style[smallfontend]
    </td>
    <td bgcolor="$style[$dc]" align="right">
        $style[smallfont]<font color="$style[color1]">$data[npost]</font>$style[smallfontend]
    </td>
</tr>
