<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tr class="color4"> 
          <td colspan="5">$style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>$config[board_name] 
            - Staff</strong></span>$style[smallfontend]</td>
        </tr>
        <tr> 
          <td class="cellA">$style[stdfont]<strong>Level</strong>$style[stdfontend]</td>
          <td class="cellB">$style[stdfont]<strong>Name</strong>$style[stdfontend]</td>
          <td class="cellA">$style[stdfont]<strong>Email-Adresse</strong>$style[stdfontend]</td>
          <td class="cellB">$style[stdfont]<strong>Kontakt</strong>$style[stdfontend]</td>
          <td class="cellA">$style[stdfont]<strong>Online</strong>$style[stdfontend]</td>
        </tr>
$TEAMROWS
        <tr class="color4"> 
          <td colspan="5" align="center"> 
              $style[smallfont]<strong><span style="color:$style[col_he_fo_font]"><a class="hefo" href="Javascript:history.back()">zur&uuml;ck</a></span></strong>$style[smallfontend]</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
