        <tr>
          <td class="cellA">$style[smallfont]$user[userlevel]$style[smallfontend]</td>
          <td class="cellB">$style[stdfont]<a href="_('v_profile.php?user[userid]=$user[userid]')">$user[username]</a>$style[stdfontend]</td>
          <td class="cellA">$style[smallfont]$user[useremail]$style[smallfontend]</td>
          <td class="cellB">$style[smallfont]<a href="_('pm.php?action=new&recipient=$user[username]')">Private Message</a>$style[smallfontend]</td>
          <td class="cellA">$style[smallfont]$user[userisonline]$style[smallfontend]</td>
        </tr>
