<table width="80%" border="0" cellspacing="0" cellpadding="0" class="border-col" align="center">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tr class="CellA">
            <td width="15%">$style[smallfont]$post[posttime]$style[smallfontend]</td><td>$style[smallfont]$post[threadtopic]$style[smallfontend]</td>
        </tr>
        <tr class="cellB">
          <td></td><td valign="top">$style[stdfont]$post[posttext]$style[stdfontend]$post[posteditnotes]</td>
        </tr>
        <tr class="cellA">
            <td>
                $style[smallfont]von <a href="$config[board_baseurl]/v_profile.php?userid=$post[userid]">$post[username]</a>$style[smallfontend]
            </td>
         <td align="right">$style[smallfont]$post[commentcount] <a href="$config[board_baseurl]/showtopic.php?threadid=$post[threadid]">Kommentar$post[commentplural]</a>$style[smallfontend]</td>
        </tr>
    </table>
    </td></tr>
</table>

<br>

