<tr bgcolor="$thisrowbg">
    <td width="23" valign="middle" align="center">
        <img src="$imagepath">
    </td>
    <td width="50%">
        <nobr>$style[stdfont]$prepend<a href="_('showtopic.php?threadid=$thread[threadid]$TIME_STRING')">$thread[threadtopic]</a>$style[stdfontend]$style[smallfont] $pages$style[smallfontend]
    </td>
    <td width="48" align="center">
        <nobr>$style[stdfont]$thread[threadreplies]$style[stdfontend]
    </td>
    <td width="48" align="center">
        <nobr>$style[stdfont]$thread[threadviews]$style[stdfontend]
    </td>
    <td>
        <nobr>$style[stdfont]$thread[threadauthor]$style[stdfontend]
    </td>
    <td>
        <nobr>$style[smallfont]$thread[threadtime]<br>
        von $thread[threadlastreplyby]$style[smallfontend]
    </td>
</tr>
