<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border-col">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="1" cellpadding="3">
                <tr class="color4">
                    <td colspan="4">
                        $style[smallfont]<span style="color:$style[col_he_fo_font]"><strong>Userprofil</strong></span>$style[smallfontend]
                    </td>
                </tr>
                <tr class="cellB">
                    <td valign="top">
                        $style[stdfont]<strong>Name</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[username]$style[stdfontend]$style[smallfont]$user[userip]<br />
                        $user[usertitle]$style[smallfontend]
                    </td>
                </tr>
                <tr class="cellA">
                    <td>
                        $style[stdfont]<strong>Beitr&auml;ge</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[userposts]$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellB">
                    <td>
                        $style[stdfont]<strong>Email-Adresse</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[useremail]$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellA">
                    <td valign="top">
                        $style[stdfont]<strong>Optionen</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]
                        <A HREF="_('pm.php?action=new&recipient=$userurlname')">$user[username] eine Private Nachricht schicken.</A><br />
                        <a href="_('misc.php?action=getlastpost&amp;userid=$user[userid]')">den letzten Beitrag von $user[username] anzeigen.</a><br />
                        <a href="_('search.php?words=$userurlname&amp;searchfor=author&amp;startsearch=1')">Nach weiteren Beitr&auml;gen von $user[username] suchen.</a>$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellB">
                    <td>
                        $style[stdfont]<strong>Registrierdatum</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[userjoin]$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellA">
                    <td>
                        $style[stdfont]<strong>Letzter Beitrag</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[userlastpost]$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellB">
                    <td valign="top">
                        $style[stdfont]<strong>Bewertungen</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[userrating]$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellA">
                    <td>
                        $style[stdfont]<strong>Homepage</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[userhomepage]$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellB">
                    <td>
                        $style[stdfont]<strong>Wohnort</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[userlocation]$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellA">
                    <td>
                        $style[stdfont]<strong>ICQ #</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[usericq]$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellB">
                    <td>
                        $style[stdfont]<strong>AIM Name</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[useraim]$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellA">
                    <td>
                        $style[stdfont]<strong>MSN Name</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[usermsn]$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellB">
                    <td>
                        $style[stdfont]<strong>Alter</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[userage]$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellA">
                    <td>
                        $style[stdfont]<strong>Beruf</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[useroccupation]$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellB">
                    <td valign="top">
                        $style[stdfont]<strong>Interessen</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[userinterests]$style[stdfontend]
                    </td>
                </tr>
                <tr class="cellA">
                    <td valign="top">
                        $style[stdfont]<strong>Signatur</strong>$style[stdfontend]
                    </td>
                    <td>
                        $style[stdfont]$user[usersignature]$style[stdfontend]
                    </td>
                </tr>
                <tr class="color4">
                    <td colspan="2" align="center">
                        $style[smallfont]<strong><span style="color:$style[col_he_fo_font]">[ <a class="hefo" href="javascript:history.back()">zur&uuml;ck</a> ]</span></strong>$style[smallfontend]
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
